body{
    background-color: rgb(63, 63, 63);
}
.display-flex {
    display: flex;
    flex-direction: column;
}

.flex {
    max-width: 300px;
    padding: 10px;
    border: 20px solid black;
    display: flex;
}

.itens {
    background-color: aqua;
    margin: 5px;
}

.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    border: solid black;
    margin: 8px;
    border-radius: 4px;
}

.flex-item {
    background: blue;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 4px;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li {
    background-color: red;
}

.column {
    float: left;
    flex-direction: column;
}

.column-reverse {
    float: right;
    flex-direction: column-reverse;
}

.column li {
    background-color: orange;
}

.column-reverse li {
    background-color: purple;
}

.box {
    min-width: 200px;
    max-width: 250px;
    height: 145px;
    background-color: rgba(131, 131, 131, 0.418);
    border-radius: 8px;
    margin: 10px;
}

.flex-wrap {

    margin: auto;
    padding: 10px;
    width: 640px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-wrap ul li {
    max-height: 50px;
    max-width: 50px;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}
.flex-basis-0{
    flex-basis: 0;
}
.flex-basis-1{
    flex-basis: 1;
}
.flex-basis-2{
    flex-basis: 2;
}
.flex-basis-auto{
    flex-basis: auto;
}
.flex-basis-100px{
    flex-basis: 100px;
}